body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.container{
    width: 368px;
    height: 540px;
    background-color: rgb(16, 16, 16);
    box-shadow: 4px 4px 10px rgb(100, 100, 100);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    width: 340px;
    height: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.display{
    width: 340px;
    height: 50px;
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#result{
    position: absolute;
    font-family: monospace;
    margin: 0;
    top: 15px;
    right: 20px;
    font-size: 20px;
    white-space: nowrap; /* Cach nay hay ne =)))))))) */
}
.display.shakeAnimate{
    /* &. -> Cach de trinh duyet hieu ham display co class shakeAnimate thuoc pham vi cua trc khi goi vao bang js */
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    /* cubic-bezier la mot ham cs kha nang ve duong cong toc do (Giong ben capcut hay lam) */
    transform: translate3d(0,0,0);
}

.display.jump{
    animation: jump 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0,0,0);
}

.keyboard{
    width: 340px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.line{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 12px;
}
button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    text-align: center;
    align-content: center;
    background-color: rgb(50, 50, 50);
    font-size: 24px;
    color: white;
    font-family: monospace;
}
button:hover{
    transform: scale(1.08);
    transition: all 0.2s ease;
}
button:active{
    transform: scale(1.0);
    opacity: 0.5;
}
#func-btn{
    background-color: rgb(124, 124, 124);
}
#calcu-btn{
    background-color: rgb(255, 136, 17);
}
.backspace{
    font-size: 40px;
}



@keyframes shake{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes jump{
    0%, 100%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-5px);
    }
    60%{
        transform: translateY(2px);
    }
}