body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.container{
    width: 368px;
    height: 540px;
    background-color: rgb(16, 16, 16);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrap{
        width: 340px;
        height: 520px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .display{
            width: 340px;
            height: 50px;
            background-color: white;
            margin-top: 30px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            /* -webkit-mask-image: linear-gradient(to left, rgb(161, 161, 161) 65%, transparent 90%);
            mask-image: linear-gradient(to left, rgb(213, 213, 213) 65%, transparent 100%); */
            #result{
                position: absolute;
                font-family: monospace;
                margin: 0;
                top: 15px;
                right: 20px;
                font-size: 20px;
            }
        }
        .keyboard{
            width: 340px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 7px;
            .line{
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                gap: 12px;
                button{
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    border: none;
                    background-color: rgb(50, 50, 50);
                    font-size: 24px;
                    color: white;
                    font-family: monospace;
                }
                button:hover{
                    transform: scale(1.08);
                    transition: all 0.2s ease;
                }
                button:active{
                    transform: scale(1.0);
                }
                #func-btn{
                    background-color: rgb(124, 124, 124);
                }
                #calcu-btn{
                    background-color: rgb(255, 136, 17);
                }
            }
        }
    }
}